        body {
            font-family: IBM Plex Mono;
            margin: 0;
            padding: 0;
            background-color: black;
        }
        header {
            background-color: #f74843;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            align-items: center;
        }
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12%;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        nav li {
            margin-right: 20px;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
        }
        main {
            padding: 20px;
            width: 800px;
            margin: 0 auto;
            color: #fff;
        }
        footer {
            background-color: #0a0a0a;
            color: #fff;
            padding: 20px;
            font-size: 5px;
            text-align: center;
        }